{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {}
    },
    "rules": {
        "no-console": "off"
    },
    "env": {
        "node": true,
        "es6": true
    }
}